<%- include('../layouts/header')%> <%- include('../partials/admin-header')%>
<div class="header" style="margin-top: 80px">
  <h1>OFFERS</h1>
</div>
<%- include('../partials/admin-canvas')%>

<div class="container-fluid">
  <div class="row mt-5">
    <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4 bg-light">
      <div class="d-flex justify-content-between m-3">
        <h2>Refferal Offer</h2>
        <a href="/admin/add-refferal-offer" class="btn btn-success"
          >+ Add refferal offer</a
        >
      </div>
      <div class="table-responsive" style="min-height: 100vh">
        <table id="table" class="table overflow-scroll">
          <thead>
            <tr class="h5">
              <th class="border border-bottom-0 text-center-in-table">
                Referral Offer
              </th>
              <th class="border text-center-in-table">Offer for Referrer</th>
              <th class="border text-center-in-table">Offer for Referred</th>
              <th class="border text-center-in-table">EDIT</th>
              <th class="border text-center-in-table">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-start text-center-in-table"></td>

              <td class="border text-center-in-table">₹</td>
              <td class="border text-center-in-table">₹</td>
              <td class="border text-center-in-table">
                <a href="/admin/edit-refferal-offer/">
                  <i class="fas fa-pencil d-flex justify-content-center"></i>
                </a>
              </td>
              <td class="border text-center-in-table">
                <a
                  href="/admin/disable-refferal-offer/"
                  onclick="return confirm('Are you sure to disable this offer?')"
                >
                  <i class="fas fa-unlock d-flex justify-content-center"></i>
                </a>
              </td>
              <td class="border text-center-in-table">
                <a
                  href="/admin/enable-refferal-offer/"
                  onclick="return confirm('Are you sure to enable this offer?')"
                >
                  <i class="fas fa-lock d-flex justify-content-center"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between m-3">
          <h2>Category offers</h2>
          <a href="/admin/add-offer" class="btn btn-success"
            >+ Add category offer</a
          >
        </div>
        <table id="table" class="table overflow-scroll">
          <thead>
            <tr class="h5">
              <th class="border text-center-in-table">Category Name</th>
              <th class="border text-center-in-table">Expiry date</th>
              <th class="border text-center-in-table">Discount Amount</th>
              <th class="border text-center-in-table">EDIT</th>
              <th class="border text-center-in-table">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border text-center-in-table"></td>
              <td class="border text-center-in-table"></td>
              <td class="border text-center-in-table">₹</td>
              <td class="border text-center-in-table">
                <a href="/admin/edit-offer/">
                  <i class="fas fa-pencil d-flex justify-content-center"></i>
                </a>
              </td>
              <td class="border text-center-in-table">
                <a
                  href="/admin/disable-offer/"
                  onclick="return confirm('Are you sure to disable this offer?')"
                >
                  <i class="fas fa-unlock d-flex justify-content-center"></i>
                </a>
              </td>
              <td class="border text-center-in-table">
                <a
                  href="/admin/enable-offer/"
                  onclick="return confirm('Are you sure to enable this offer?')"
                >
                  <i class="fas fa-lock d-flex justify-content-center"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<%- include('../layouts/footer') %>
