<nav class="navbar border-bottom border-body"  style="background-color: rgb(200, 242, 252);">
  <div class="container d-flex justify-content-center">
    <a class="navbar  href="#">
      <img src="/images/screenshot--272-removebgpreview-1@2x.png" alt="Bootstrap" style="width: 100px;"  >
    </a>
  </div>
  <a href="/admin/logout">logout</a>
</nav>

<button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
  <i class="fa-solid fa-bars"></i>
</button>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">ADMINS OPTIONS</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0 ">
    <div class="list-group vh-100 border-end icons " style="border-radius: 0; ">
      <a href="/admin/dashboard" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0">
        <i class="fas fa-house"></i>
        <span class="ms-4 d-none d-lg-inline">Dashboard</span>
      </a>
      <a href="/admin/product" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0" >
        <i class="fas fa-bag-shopping"></i>
        <span class="ms-4 d-none d-lg-inline">Products</span>
      </a>
      <a href="" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0" >
        <!-- {{!-- /admin/orders --}} -->
        <i class="fas fa-cart-shopping"></i>
        <span class="ms-4 d-none d-lg-inline">Orders</span>
      </a>
      <a href="/admin/userslist" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0" >
        <i class="fas fa-users"></i>
        <span class="ms-4 d-none d-lg-inline">Customers</span>
      </a>
      <a href="" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0 pt-2" >
        <!-- {{!-- /admin/coupons --}} -->
        <i class="fas fa-id-card"></i>
        <span class="ms-4 d-none d-lg-inline">Coupons</span>
      </a>
      <a href="" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0 pt-2" >
        <!-- {{!-- /admin/banners --}} -->
        <i class="fas fa-flag"></i>
        <span class="ms-4 d-none d-lg-inline">Banners</span>
      </a>
      <a href="/admin/sub-admins" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0 pt-2" >
        <i class="fas fa-user-plus"></i>
        <span class="ms-4 d-none d-lg-inline">Sub-Admins</span>
      </a>
      <a href="/admin/categoriesandbrands" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0 pt-2" >
        <i class="fas fa-list"></i>
        <span class="ms-4 d-none d-lg-inline">Categories And Brands</span>
      </a>
      <a href="/admin/payments" class="list-group-item list-group-item-action list-group-item-secondary d-flex border-0 pt-2" >
        <i class="fas fa-money-bill"></i>
        <span class="ms-4 d-none d-lg-inline">Payments</span>
      </a>
    </div>
  </div>
</div>
