<%-include('../layouts/header')%>
<%- include('../partials/user-header')%>
<section>
<div class="banner banner-1 container-fluid">
   <img class="img-fluid" src="/images/FT_Smart_100723.webp" style="height: 60vh; width: 100vw;">
</div>
<div class="blue-background text-center">
    <div class="text center">
        <h5 class="icons categories">SHOP FOR</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2 icons">
                <img class="img-fluid equal-width" src="/images/menWatches.webp" alt="Image 1">
                MEN'S WATCHES
            </div>
            <div class="col-2 icons">
                <img class="img-fluid equal-width" src="/images/womensWatches.webp" alt="Image 2">
                WOMEN'S WATCHES
            </div>
            <div class="col-2 icons">
                <img class="img-fluid equal-width" src="/images/kidsWatches.webp" alt="Image 3">
                KID'S WATCHES
            </div>
            <div class="col-2 icons">
                <img class="img-fluid equal-width" src="/images/wallets.webp" alt="Image 4">
                WALLET
            </div>
            <div class="col-2 icons">
                <img class="img-fluid equal-width" src="/images/wallclock.webp" alt="Image 5">
                WALL CLOCK'S
            </div>
            <div class="col-2 icons">
                <img class="img-fluid equal-width" src="/images/smartWatches.webp" alt="Image 5">
                SMART WATCHES
            </div>
        </div>
    </div>
</div>
<div class="products container">
    <div class="product-title d-flex justify-content-between align-items-center">
        <div>

        </div>
        <h2 class="ps-5">New Arrivals</h2>
        <div class="filter-text">
            <span>FILTERS</span>
            <i class="fa-solid fa-sliders"></i>
        </div>
    </div>
    <div class="container">
        <div class="row gap-4 justify-content-center">
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending1.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">FASTRACK EXUBERANT QUARTZ MULTIFUNCTION BLUE DIAL STAINLESS STEEL STRAP WATCH FOR GUYS</p>
                        </div>
                        <div class="mt-auto">
                            <p class="product-price text-center">5395/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending2.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">AFTERDARK GREEN DIAL LEATHER STRAP</p>
                        </div>
                        <div class="mt-auto">
                            <p class="product-price text-center">4995/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending3.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">REFLEX VYBE SMART WATCH</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">1995/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending4.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">NEO SPLASH STAINLESS STEEL STRAP WATCH</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">6995/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending5.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">LAGAN SILVER DIAL METAL STRAP WATCH</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">2725/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending6.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">EDGE BASELINE STAINLESS METAL STRAP</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">17,995/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending7.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">WORKWEAR WATCH GREEN DIAL</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">3245/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending8.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">WORKWEAR WATCH GREEN DIAL</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">2995/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending9.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">ZOOP BASIC WATCH FOR KIDS</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">545/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending10.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">ARC ROYAL FROM MARITIME</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">15,545/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending11.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">CHARM FROM RAGA MOMENTS OF JOY </p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">7345/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending12.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">LAGAN BROWN DIAL</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">1995/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending13.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">TITAN TALK S</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">8995/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending14.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">CONTEMPORARY WHITE WALL CLOCK</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">1345/-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card h-100">
                    <img class="img-fluid" src="/images/trending15.webp" alt="Product 1">
                    <div class="card-body d-flex flex-column">
                        <div class="cardWriting">
                            <p class="product-description text-center">GRAND MASTER FROM TITAN</p>
                        </div>
                        <div class="mt-auto">
                        <p class="product-price text-center">10045/-</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Repeat the above card structure for the remaining products -->
        </div>
    </div>
    
    
</div>
<div class="container mt-5">
    <div class="mt-5">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item active">
            <span class="page-link">1</span>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
    </div>
</div>
</section>
<%- include('../partials/user-footer')%>
<%- include('../layouts/footer') %>